<div class="row row-eq-height justify-content-center answerArea">
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" style="cursor: pointer" data-id='0'>
        <p>
            <%- data.text_answer.answer[0] %>
        </p>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" style="cursor: pointer" data-id='1'>
        <p>
            <%- data.text_answer.answer[1] %>
        </p>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="modalButton">
            <button class="btn buttonNext" disabled="disabled" data-toggle="modal" data-target="#myModal">WEITER</button>
        </div>
    </div>
</div>