<div class="row row-eq-height justify-content-center answerArea">

    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" data-id="0" style="cursor: pointer;" checked="checked">
        <p>
            <%- data.text_answer.answer[0] %>
        </p>
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" data-id="1" style="cursor: pointer;" checked="checked">

        <p>
            <%- data.text_answer.answer[1] %>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" data-id="2" style="cursor: pointer;" checked="checked">

        <p>
            <%- data.text_answer.answer[2] %>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9 answerBox_boolean" data-id="3" style="cursor: pointer;" checked="checked">
        <p>
            <%- data.text_answer.answer[3] %>
        </p>
    </div>
</div>
<div class="col-md-12">
    <div class="modalButton">
        <button class="btn" data-toggle="modal" data-target="#myModal">WEITER</button>
    </div>
</div>