<div class="container">
  <h1><small>Herzlich Willkommen zum</small> BSI-Quiz!</h1>
  <div class="row rowMainPage">
    <div class="col-lg-10 col-md-10 col-xs-8 introduction">
      <p class="intro"> Mithilfe dieses Quiz sollen Sie und Ihre Kollegen und Kolleginnen im Umgang mit der elektronischen Akte (eAkte) zum
        Thema Informationssicherheit und Datenschutz sensibilisiert werden. Die BSI-Standards wurden vom Bundesamt für Sicherheit
        in der Informationstechnik entwickelt. Dieses Quiz befasst sich mit dem BSI-Standard 100-2 und beinhaltet die IT-Grundschutz-Vorgehensweise,
        sowie Fragen zu möglichen Schadensszenarien bei Missachtung der Informationssicherheit und des Datenschutzes.<br>        <br> In diesem Quiz sind 30 Fragen zu beantworten, wobei jeweils eine Antwortmöglichkeit richtig ist. Bei erfolgreichen
        Abschluss des Quiz erhalten Sie ein Zertifikat, welches Ihnen die Schulung zu dem BSI-Standard 100-2 und das nötige
        Wissen zur Informationssicherheit am Arbeitsplatz bescheinigt. Die erhobenen persönlichen Daten am Anfang des Quiz
        dienen nur zur Personalisierung des Zertifikats und werden nicht für andere Zwecke gespeichert. Sie haben 24 Stunden
        Zeit das Quiz zu beenden. In diesem Zeitraum werden Ihre Antworten gespeichert, bevor sie endgültig gelöscht werden
        und Sie das Quiz von vorn beginnen müssen.
        <br><br> Viel Erfolg!
      </p>
    </div>
    <div class="col-lg-10 col-md-6 col-xs-6 col_input">
      <form action="/" id="input">
        <div class="input-group">
          <input type="text" class="form-control" id="input_Username" name="inputFromUser" placeholder="Name">
          <span class="input-group-btn">
        <button type="button" class="btn btn-default" id="submit_btn">Los!</button>
        </span>
        </div>
        <p class="dataPolicy">Wir brauchen Ihren Namen um ihre BSI skills zu validieren. Wir werden diesen nicht weitergeben!</p>
      </form>
    </div>
  </div>
</div>
<footer class="footer">
    <div class="footerContainer">
        <div><a href="#" data-toggle="modal" data-target="#modalInformation">Information</a>
            <a href="#" data-toggle="modal" data-target="#modalTeam">Team</a>
            <a href="mailto:marko@hyph.me?Subject=Hello%20again" target="_top">Kontakt</a></div>
    </div>
</footer>