
<div class="row printArea" style="padding-left: 30px; padding-right:30px; padding-top:50px; background: white;">

    <div class="col-lg-10 col-md-10 col-sm-10 col-sx-10 headCertificate">

        <img src="../images/data_security_logo.jpg" class="img-rounded logo" alt="data security logo" width="400" height="200">

        <h1>Datenschutz und Datensicherheitszertifikat</h1>

    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-sx-7 contentCertificate">
    
        <h2>
            <%- user_name %>
        </h2>
        <p> Hat am <span><%- currentDay %></span> die Schulung zum Thema <strong>„BSI Standard 100-2“</strong> durchgeführt und bestanden.</p>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-sx-8 bottomCertificate">

        <p> Schwerpunkte des Tests waren:</p>

        <ul>
            <li>IT-Grundschutz Vorgehensweise</li>
            <li>Schadensszenario "Verstoß gegen Gesetze/Vorschriften/Verträge"</li>
            <li>Schadensszenario "Beeinträchtigung des informationellen Selbstbestimmungsrechts"</li>
            <li>Schadensszenario "Negative Innen- oder Außenwirkung"</li>
            <li>Verlust der Vertraulichkeit</li>
            <li>Verlust der Integrität</li>
        </ul>
    </div>
</div>
