  <header>
    <h1>Vielen Dank für Ihre Teilnahme</h1>
</header>
<div class="container">
  <div class="row row-final">
      <p style="color:#DDFFF7;">an der Schulung zum Thema <strong>"BSI-Standard 100-2"</strong>. 
      Ihr Ergebnis sowie alle weiteren Informationen finden Sie unter dem Abschnitt "Ihr Testergebnis."</p>
    <div class="col-lg-7 col-md-7 col-sm-12 col-sx-12 final" data-id='final'>
      <h3>Ihr Testergebnis:</h3>

      <% var reachablePercent = getTheRightPartial %>
        <%if (reachablePercent === 0) { %>
          <%- partial('../partials/rightAnswer.ejs') %>
            <% } else if (reachablePercent === 1) { %>
              <%- partial('../partials/falseAnswer.ejs') %>
                <% } %>

    </div>
  </div>
</div>
<footer class="footer">
    <div class="footerContainer">
        <div><a href="#" data-toggle="modal" data-target="#modalInformation">Information</a>
            <a href="#" data-toggle="modal" data-target="#modalTeam">Team</a>
            <a href="mailto:marko@hyph.me?Subject=Hello" target="_top">Kontakt</a></div>
    </div>
</footer>
